<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Dataset Analysis</title>
</head>
<body>
    <h2>Hello, </h2>
    We will be performing Data Analysis on the Spotify dataset provided on <a href="https://www.kaggle.com/datasets/mrmorj/dataset-of-songs-in-spotify">Kaggle</a>. <br><br>
    Users will get an option to play around with different graphs and create different types of graphs between features of their choice from the dataset! <br><br><br>
    Creators: 
    <li>Aryan Mehta - 60009200013</li>
    <li>Arihant Sheth - 60009200021</li>
</body>
</html>